<!-- ft_transcendence/templates/game/game.html -->
{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pong Game</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'game/styles.css'%}">
</head>
<body>
    <div class="container-fluid h-100 d-flex align-items-center justify-content-center game-container">
        <div class="row">
            <div class="col-2 text-center d-flex flex-column align-items-center justify-content-center">
                <img id="player_left_photo" class="player_photo">
                <h2 id="player_left_name"></h2>
            </div>
            <div class="col-8 d-flex align-items-center justify-content-center">
                <canvas id="pongCanvas" class="border"></canvas>
            </div>
            <div class="col-2 text-center d-flex flex-column align-items-center justify-content-center">
                <img id="player_right_photo", class="player_photo">
                <h2 id="player_right_name"></h2>
            </div>
        </div>
    </div>
    <script type="module" src="{% static 'game/game.js'%}"></script>
</body>
</html>